.settings/
.vscode/
simulations/.cmdenv-log
simulations/results/
simulations/matlab_trace/
out/
src/slaw
.qtenvrc
*.vec
*.vci
*.dat
*.pdf
slaw
.cmdenv-log
.vscode/
.cproject
.nedexclusions
.oppbuilspec
.projects
.project
